@font-face {
  font-family: "mbc";
  font-weight: 400;
  font-style: normal;
  src: url("./MBC\ 1961\ M.woff") format("woff");
}
@font-face {
  font-family: "mbc-m";
  font-weight: 400;
  font-style: normal;
  src: url("./MBC\ 1961굴림\ M.woff") format("woff");
}
@font-face {
  font-family: "pretendard";
  font-size: 400;
  font-size: normal;
  src: url("./Pretendard-Regular.otf");
}
@font-face {
  font-family: "pretendard-b";
  font-size: 400;
  font-size: normal;
  src: url("./Pretendard-Bold.otf");
}
